* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

.title {
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}

ul.nav {
  display: flex;
  height: 40px;
  background-color: #ccc;
  line-height: 40px;
  align-items: center;
  padding: 0 10px;
  justify-content: space-evenly;
  border-radius: 6px;
}

.nav li {
  list-style-type: none;
  color: black;
  cursor: pointer;
}